<%= form_with(model: student, html: {class:  "ui large form"}) do |form| %>
  <% if student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
        <% student.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class="fields">
  <div class="six wide field">
    <%= form.label :name, "Nombre" %>
    <%= form.text_field :name %>
  </div>

  <div class="four wide field">
    <%= form.label :run, "Run" %>
    <%= form.text_field :run %>
  </div>

  <div class="six wide field">
    <%= form.label :email, "Email" %>
    <%= form.text_field :email %>
  </div>
</div>
  <div class="field">
    <%= form.label :address , "Dirección"%>
    <%= form.text_field :address %>
  </div>
<div class="fields">
  <div class="eight wide field">
    <%= form.label :region , "Región"%>
    <%= form.text_field :region %>
  </div>

  <div class="eight wide field">
    <%= form.label :commune, "Comuna" %>
    <%= form.text_field :commune %>
  </div>
</div>
<div class="fields">
  <div class="eight wide field">
    <%= form.label :phone , "Teléfono"%>
    <%= form.text_field :phone %>
  </div>

  <div class="eight wide field">
    <%= form.label :generation , "Generación"%>
    <%= form.number_field :generation %>
  </div>
</div>
<div class="fields">
<div class="eight wide field">
    <%= form.label :courses, "Cursos" %>
      <%= form.collection_check_boxes(:course_ids,
        Course.all,
        :id,
        :name) do |b| %>
        <%= b.label do%>
        <%=b.check_box(class:"ui radio checkbox") + b.text%>
      <%end%>
    <% end %>
</div>
  <div class="eight wide field">
    <%= form.label :end_date , "Fecha de egreso"%>
    <%= form.date_select :end_date %>
  </div>
</div>

  <div class="actions">
    <%= form.submit("Suministrar",class:"ui large teal submit button")%>
  </div>
<% end %>
