<%= render 'nav/nav' %>
<div class="ui container-fluid px-5">
<h1 class="ui header teal align centered mt-2">Estudiantes</h1>
  <div class="ui grid">
    <div class="row">
        <div class="ui search eight wide column">
        <%= search_form_for @q do |f| %>
            <div class="ui action input"">
            <%= f.search_field :name_or_run_or_email_cont,  placeholder: "Buscar estudiante" %>
            <%= f.submit('Search' , class:"ui teal button") %>
        <% end %>
            </div> 
         <%#      <input class="prompt" type="text" placeholder="Buscar estudiante..."> %>
        </div>
        <div class="eight wide column right aligned">
            <%= paginate @students %>
      </div>     
    </div>     
  </div>

<table class="ui celled table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Run</th>
      <th>Email</th>
      <th>Dirección</th>
      <th>Teléfono</th>
      <th>Generación</th>
      <th>Cursos</th>
      <th>Finalizado</th>
      <th colspan="3">Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.name %></td>
        <td><%= student.run %></td>
        <td><%= student.email %></td>
        <td><%= student.address %></td>
        <td><%= student.phone %></td>
        <td><%= student.generation %></td>
        <td><%= student.courses.map(&:name).join(',')  %></td>
        <td><%= student.end_date %></td>
        <td>
         <%= link_to(student) do%>
            <i class="eye icon"></i>
          <% end %>
        </td>
        <td>
         <%= link_to(edit_student_path(student)) do%>
            <i class="edit black icon"></i>
          <% end %>
        </td>
        <td>
         <%= link_to(student,method: :delete, data: { confirm: 'Are you sure?' }  ) do%>
            <i class="trash alternate red icon"></i>
          <% end %>
          </td>
  
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to(new_student_path, class:"ui inverted green button") do %>
<i class="icon user"></i>Agregar estudiante
<% end %>


</div>